* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.header {
    display: flex;
    align-items: center;
    background-color: rgb(115, 165, 115);
    height: 40px;
    padding: 10px;
}
.header-logo {
    display: flex;
    color: white;
    font-size: larger;
    font-weight: bolder;
}
.header-space {
    flex: auto;
}
.header-links ul {
    display: flex;
    gap: 10px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}