* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.header {
    display: flex;
    align-items: center;
    background-color: rgb(42, 103, 124);
    height: 40px;
    padding: 10px;
}
.header-logo {
    display: flex;
    color: white;
    font-size: larger;
    font-weight: bolder;
}
.header-space {
    flex: auto;
}
.header-links ul {
    display: flex;
    gap: 10px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgb(108, 172, 193);
}
.home-page-text {
    padding: 25px;
}
.home-page-text button {
    background-color: rgb(68, 68, 235);
    font-size: 15px;
    padding: 8px;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    color: white;
}
.home-page-image {
    padding: 25px;
}
.home-page-image img{
    height: 250px;
    width: auto;
}
.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: rgb(88, 87, 87);
}
.info-header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.info-header {
    font-weight: bolder;
    font-size: 30px;
}
.info-cards {
    display: flex;
    gap: 50px;
}
.positional-engine {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 286.312px;
    background-color: rgb(166, 162, 162);
    border-style: solid rgba(68, 68, 203, 0.703);
    border-width: 8px;
}
.positional-engine img {
    height: 150px;
    width: 286.312px;
}
.similar-positions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 286.312px;
    background-color: rgb(166, 162, 162);
    border-style: solid rgba(68, 68, 203, 0.703);
    border-width: 8px;
}
.similar-positions img {
    height: 150px;
    width: auto;
}
.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgb(240, 237, 237);
}
.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.quote-author-line {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}
.call-to-action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.call-to-action-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 25px;
    border-radius: 5px;
    background-color: lightgray;
}
.text-header {
    margin: 0px;
}
.text p {
    margin: 0px;
    margin-top: 5px;
}
.button button{
    padding: 8px;
    background-color: rgb(100, 162, 183);
    border-radius: 4px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(97, 97, 97);
    padding: 5px;
}
.copyright-info {
    color: white;
    padding: 5px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}